.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.chicken-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
}

h1 {
  flex: 1 1 auto;
  text-align: center;
}

.chicken-link {
  cursor: pointer;
  font-weight: 500;
}

.text-right {
  text-align: right;
}
